# Unreal Engine
Binaries/
DerivedDataCache/
Intermediate/
Saved/
Build/
.vs/
.vscode/
.idea/
*.sln
*.suo
*.opensdf
*.sdf
*.VC.db
*.VC.opendb
Plugins/*/Binaries/
Plugins/*/Intermediate/
Content/StarterContent/
*.pdb
compile_commands.json
__pycache__/
*.pyc
.DS_Store
